# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lib
*.a

# Executable files
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.stackdump

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*.old

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Other
*.swp
*.swo
*.swn

# Build files
build/
